USE [PTUD]
GO
/****** Object:  Table [dbo].[ChuyenTau]    Script Date: 2/18/2025 2:10:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenTau](
	[maChuyen] [nvarchar](10) NULL,
	[ngayDi] [date] NULL,
	[gaDi] [nvarchar](50) NULL,
	[gaDen] [nvarchar](50) NULL,
	[soGheNgoi] [int] NULL,
	[soGheNam] [int] NULL,
	[giaTienNgoi] [int] NULL,
	[giaTienNam] [int] NULL,
	[gioKhoiHanh] [time](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatVeTau]    Script Date: 2/18/2025 2:10:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVeTau](
	[maVe] [nvarchar](50) NULL,
	[hoTen] [nvarchar](100) NULL,
	[maChuyen] [nvarchar](50) NULL,
	[soDienThoai] [nvarchar](15) NULL,
	[cmnd] [nvarchar](20) NULL,
	[soGhe] [nvarchar](5) NULL,
	[gaDi] [nvarchar](50) NULL,
	[gaDen] [nvarchar](50) NULL,
	[loaiGhe] [nvarchar](10) NULL,
	[khuHoi] [bit] NULL,
	[ngayDi] [date] NULL,
	[giaTien] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 2/18/2025 2:10:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maVe] [nvarchar](50) NULL,
	[ngayXuat] [date] NULL,
	[tongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoGhe]    Script Date: 2/18/2025 2:10:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoGhe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[maChuyen] [nvarchar](50) NULL,
	[loaiGhe] [nvarchar](50) NULL,
	[soThuTu] [int] NULL,
	[trangThai] [int] NULL,
	[ngay] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 2/18/2025 2:10:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[tenTK] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[loaiTK] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChuyenTau] ([maChuyen], [ngayDi], [gaDi], [gaDen], [soGheNgoi], [soGheNam], [giaTienNgoi], [giaTienNam], [gioKhoiHanh]) VALUES (N'CT001', CAST(N'2025-01-22' AS Date), N'Sài Gòn', N'Hà Nội', 16, 8, 900000, 1080000, CAST(N'00:00:00' AS Time))
INSERT [dbo].[ChuyenTau] ([maChuyen], [ngayDi], [gaDi], [gaDen], [soGheNgoi], [soGheNam], [giaTienNgoi], [giaTienNam], [gioKhoiHanh]) VALUES (N'CT002', CAST(N'2025-01-22' AS Date), N'Sài Gòn', N'Hà Nội', 16, 8, 900000, 1080000, CAST(N'02:00:00' AS Time))
INSERT [dbo].[ChuyenTau] ([maChuyen], [ngayDi], [gaDi], [gaDen], [soGheNgoi], [soGheNam], [giaTienNgoi], [giaTienNam], [gioKhoiHanh]) VALUES (N'CT003', CAST(N'2025-01-22' AS Date), N'Sài Gòn', N'Hà Nội', 16, 8, 900000, 1080000, CAST(N'04:00:00' AS Time))
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [maVe], [ngayXuat], [tongTien]) VALUES (N'HD1737302951146', N'19012025CT0010001', CAST(N'2025-01-19' AS Date), 2400000)
INSERT [dbo].[HoaDon] ([maHoaDon], [maVe], [ngayXuat], [tongTien]) VALUES (N'HD1737307841547', N'19012025CT0010001', CAST(N'2025-01-20' AS Date), 2400000)
INSERT [dbo].[HoaDon] ([maHoaDon], [maVe], [ngayXuat], [tongTien]) VALUES (N'HD1737366660332', N'19012025CT0090001', CAST(N'2025-01-20' AS Date), 1320000)
GO
SET IDENTITY_INSERT [dbo].[SoGhe] ON 

INSERT [dbo].[SoGhe] ([id], [maChuyen], [loaiGhe], [soThuTu], [trangThai], [ngay]) VALUES (1, N'CT001', N'Ngồi', 1, 0, CAST(N'2025-01-23' AS Date))
INSERT [dbo].[SoGhe] ([id], [maChuyen], [loaiGhe], [soThuTu], [trangThai], [ngay]) VALUES (2, N'CT001', N'Ngồi', 2, 0, CAST(N'2025-01-23' AS Date))
INSERT [dbo].[SoGhe] ([id], [maChuyen], [loaiGhe], [soThuTu], [trangThai], [ngay]) VALUES (3, N'CT001', N'Ngồi', 3, 0, CAST(N'2025-01-23' AS Date))
GO
SET IDENTITY_INSERT [dbo].[SoGhe] OFF
GO
INSERT [dbo].[TaiKhoan] ([tenTK], [matKhau], [loaiTK]) VALUES (N'admin', N'admin123', N'Tài khoản quản lý')
INSERT [dbo].[TaiKhoan] ([tenTK], [matKhau], [loaiTK]) VALUES (N'keToan', N'keToan123', N'Tài khoản kế toán')
INSERT [dbo].[TaiKhoan] ([tenTK], [matKhau], [loaiTK]) VALUES (N'ketoan1', N'keToan234', N'Tài khoản nhân viên')
GO
ALTER TABLE [dbo].[SoGhe] ADD  DEFAULT ((0)) FOR [trangThai]
GO
ALTER TABLE [dbo].[SoGhe] ADD  DEFAULT (getdate()) FOR [ngay]
GO
